<Script>

    $(document).ready(function () {
        
        $(".search-result").hide();

        //$('#search-device').keyup(loadResult);
        $('#search-device').click(loadResult);
        $('#search-device').change(loadResult);

        function loadResult(e) {

            $.ajax({
                url: "http://<%= serverAddress %>/getDevices?query=" + $('#search-device').val(),
                type: "GET",
                success: function (data, textStatus, jqXHR) {

                    console.log(data);

                    var pos = $('#search-device').position();

                    var top = pos.top + $('#search-device').height() + 1;
                    var left = pos.left;

                    $("#device_search-result").css({ 'top': top, 'left': left, 'width': $('#search-device').width()+2});
                    
                    $("#device_search-result").fadeIn();

                    $("#device_search-result").html('');

                    for (var i = 0; i < data.length && i < 10; i++) {
                        var div = $('<div class="search-result-row" deviceId="' + data[i].device_id + '" deviceName="' + data[i].device_name + '" deviceNumber="' + data[i].device_number + '" >' + data[i].device_name + '</div>').appendTo($("#device_search-result")).fadeIn(500 * i);

                        if (i == 0)
                            div.addClass('hovered');
                    }

                    $(".search-result-row").mousemove(function () {
                        $(".search-result-row").removeClass('hovered');
                        $(this).addClass('hovered');
                    });
                    $(".search-result-row").mouseout(function () {
                        $(this).removeClass('hovered');
                    });

                    $(".search-result-row").click(function () {
                        deviceSelected($(this));
                    });
                }
            });

        }

        

        $('#search-device').focusout(function () {
            $("#device_search-result").fadeOut();
        });

        $('#search-device').keyup(function (e) {


            if (e.keyCode === 40) {

                var elem = $("#device_search-result").find('.search-result-row.hovered').first();
                var next = elem.next('.search-result-row');

                if (!next.length)
                    next = $("#device_search-result").find('.search-result-row').first();

                elem.removeClass('hovered');
                next.addClass('hovered');
                

            } else if (e.keyCode === 38) {
                
                var elem = $("#device_search-result").find('.search-result-row.hovered').first();
                var pre = elem.prev('.search-result-row');

                if (!pre.length)
                    pre = $("#device_search-result").find('.search-result-row').last();

                elem.removeClass('hovered');
                pre.addClass('hovered');
                
            } else if (e.keyCode === 13) {

                var elem = $("#device_search-result").find('.search-result-row.hovered').first();
                deviceSelected(elem);

            } else {

                loadResult(e);

            }
        });

        var isDeviceSelected = false;

        $("#selectedDevice *").attr("disabled", "disabled").off('click');

        $(".dispatching").click(function (e) {
            if (isDeviceSelected) {
                //$('#selectedDevice').css('disable', 'false');

                window.startedDispatching = true;
                $('#map').css('cursor', 'none');
            }
        });
        

        function deviceSelected(elem) {

            isDeviceSelected = true;
            $('#selectedDevice').attr('device_id', elem.attr('deviceId'));
            $('#selectedDeviceName').html(elem.attr('deviceName'));
            $('#selectedDeviceNumber').html(elem.attr('deviceNumber'));

            
        }

        $('#searchDevice').click(function () {
            if (isDeviceSelected) {

                routeDevice($('#selectedDevice').attr('device_id'), $("#datePickerFrom").val(), $("#datePickerTo").val());

                $(".search-result").hide();
            }
        });

        
        $("#datePickerFrom").datetimepicker({
            format: 'Y/m/d H:i',
            onChangeDateTime:function(dp,$input){
            //
        }
        });

        $("#datePickerTo").datetimepicker({
            format: 'Y/m/d H:i',
            onChangeDateTime: function (dp, $input) {
                //
            }
        });


    });


</script>

<div class="side-inputs">

<input type="search" id="search-device" />

<div class="search-result" id="device_search-result"></div>

از تاریخ : <input type="text" id="datePickerFrom" placeholder="date"  style="direction:ltr"/> <br />
تا تاریخ : <input type="text" id="datePickerTo" placeholder="date"  style="direction:ltr"/>


     <div id="selectedDevice" class="selectedDevicePanel">


    <div class="selectedDeviceRow">
        <span class="selectedDeviceRowItem selectedDeviceRowTitle">نام دستگاه :</span>
        <span class="selectedDeviceRowItem" id="selectedDeviceName"></span>
    </div>

   <div class="dispatching" device_id="">

    </div>

    <div class="selectedDeviceRow">
        <span class="selectedDeviceRowItem selectedDeviceRowTitle">شماره دستگاه :</span>
        <span class="selectedDeviceRowItem" id="selectedDeviceNumber"></span>
    </div>


    <br style="clear:both" />
        
</div>
    
    <br />

        <button id="searchDevice" title="search" >search</button>

</div >
